{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Change Password{% endblock %}

{% block content %}
    <!-- Change Password -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box-element">
                    <h1 class="mb-4">Change Password</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <form method="POST">
                                {% csrf_token %}

                                <!-- Old Password -->
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form.old_password|add_class:"form-control" }}
                                        {% if form.old_password.errors %}
                                            <div class="alert alert-danger">
                                                {{ form.old_password.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- New Password -->
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form.new_password1|add_class:"form-control" }}
                                        {% if form.new_password1.errors %}
                                            <div class="alert alert-danger">
                                                {{ form.new_password1.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Confirm New Password -->
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form.new_password2|add_class:"form-control" }}
                                        {% if form.new_password2.errors %}
                                            <div class="alert alert-danger">
                                                {{ form.new_password2.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <input type="hidden" id="recaptchaResponse" name="recaptchaResponse">
                                <button class="btn btn-primary" type="submit">Update</button>
                            </form>
                            <script src="https://www.google.com/recaptcha/api.js?render=6LeKbeMoAAAAAE30GdEdU2AG6VediI-ahycMKoH9"></script>
                            <script>
                                grecaptcha.ready(function() {
                                    grecaptcha.execute('6LeKbeMoAAAAAE30GdEdU2AG6VediI-ahycMKoH9', {action: 'submit'}).then(function(token) {
                                        document.getElementById('recaptchaResponse').value = token;
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <script type="text/javascript">
                    document.addEventListener('DOMContentLoaded', function () {
                        alert("{{ message }} You will be logged out shortly.");
                        setTimeout(function() {
                            window.location.href = "{% url 'public:store' %}"; // replace with your actual URL
                        });
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
